.check-page {
    min-height: 80vh;
    text-align: center;
    padding: 80px 20px;
}

.check-page h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.check-page p {
    color: gray;
    margin-bottom: 40px;
}

.upload-box {
    width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.upload-box input {
    margin-bottom: 25px;
}

.upload-box button {
    display: block;
    margin: auto;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}